<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETAM dashboard</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style src="./index.css"></style>

    <script>
        var BACKEND_URL = '<%= BACKEND_URL %>';
        var DEBUG = parseInt('<%= DEBUG %>');
    </script>
</head>

    <body>


        <select id="program-select">
            <option>All programs</option>
        </select>
        <select id="choice-select">
            <option>All admits</option>
            <option>First choice</option>
            <option>Second choice</option>
            <option>Third choice</option>
            <option>Fourth, Fifth choice</option>
        </select>
        <select id="year-select"></select>


        <svg width="100%"></svg>
        <script src="./index.js"></script>
    </body>
</html>
