<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETAM dashboard</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style src="./index.css"></style>
</head>

    <body>
        <p>Backend URL: <%= BACKEND_URL %></p>

        <svg width="400" height="200"></svg>
        <script src="./index.js"></script>
    </body>
</html>
